<div class="form-group" sf-array="form" schema-name="form"  ng-init="hasFocus = false" ng-model="$$value$$"  ng-class="{'has-error': hasError(), 'has-focus': hasFocus, 'is-required': form.required}">
	<label class="control-label" ng-class="form.labelStyle" ng-show="showTitle()" ng-bind="form.title"></label>

	<div class="control-content {{::form.fieldStyle}}" ng-class="{'col-sm-2': form.fieldSize == 'small', 'col-sm-5': form.fieldSize == 'medium'}">
		<div class="checkbox" ng-repeat="val in titleMapValues track by $index" >
			<label ng-mousedown="$parent.hasFocus = true">
				<input
					type="checkbox"

					schema-name="form"
					sf-changed="form"

					auto-tab-field

					ng-focus="$parent.hasFocus = true"
					ng-blur="$parent.hasFocus = false"
					ng-disabled="form.readonly || (form.enabled && !evalExpr(form.enabled,{ model: model, 'arrayIndex': arrayIndex }))"
					ng-model="titleMapValues[$index]"
					ng-model-options="form.ngModelOptions"
					ng-attr-autofocus="{{form.focus}}"
					ng-attr-tabindex="{{form.tabindex}}"
				/>

				<span ng-bind-html="form.titleMap[$index].name"></span>
			</label>
		</div>

		<div class="help-block"
			ng-show="(hasError() && errorMessage(schemaError())) || form.description"
			ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description">
		</div>
	</div>
</div>