<div schema-validate="form" ng-model="$$value$$" ng-model-options="form.ngModelOptions" class="form-group" ng-init="hasFocus = false" ng-class="{'has-error': hasError(), 'has-focus': hasFocus, 'is-required': form.required}">
	<label class="control-label" ng-class="form.labelStyle" ng-show="showTitle()" ng-bind="form.title"></label>

	<div class="control-content {{::form.fieldStyle}}" ng-class="{'col-sm-2': form.fieldSize == 'small', 'col-sm-5': form.fieldSize == 'medium'}">
		<div>
			<label class="radio-inline" ng-repeat="item in form.titleMap" ng-mousedown="$parent.hasFocus = true">
				<input
					type="radio"

					schema-name="form"
					sf-changed="form"

					auto-tab-field

					ng-focus="$parent.hasFocus = true"
					ng-blur="$parent.hasFocus = false"
					ng-disabled="form.readonly || (form.enabled && !evalExpr(form.enabled,{ model: model, 'arrayIndex': arrayIndex }))"
					ng-model="$$value$$"
					ng-value="item.value"
					ng-attr-autofocus="{{form.focus}}"
					ng-attr-tabindex="{{form.tabindex}}"
				/>

				<span ng-bind-html="item.name"></span>
			</label>
		</div>

		<div class="help-block" ng-show="(hasError() && errorMessage(schemaError())) || form.description" ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description">
		</div>
	</div>
</div>
